.navbar {
    background-color: #282c34;
    padding: 0;
    margin: 0;
}

.root {
    max-width: 345;
    background-color: white;
}


.media {
    height: 0;
    padding-top: '56.25%'
}


.avatar {
    background-color: red;
}

